@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v30/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYA.ttf) format('truetype');
}
/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */
html,
body {
  background-image: url("images/background-gray.svg");
  border: 0px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 0px;
    
}

body {
  vertical-align: middle;
  font-family: Assistant;
  margin: 0;
  direction: rtl;
  font-weight: 600;
  margin-top: 0vh;
  /* margin-top: 3vh; */
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}


/* header */
header{
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 2vh 7vw;
  background-color: lightcoral;
  background-image: url("images/up-strip.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  -webkit-box-shadow: 0px 4px 50px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 50px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 50px 4px rgba(0, 0, 0, 0.33);
  /* font-size: 2em; */
  z-index: 1;
}

header.in-menu {
  background: white;
  color: black;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

.title-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  overflow: auto;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  margin: 0;
  padding: 0;
  z-index: 20;
  pointer-events: none;
}

.title-wrapper>* {
  position: fixed;
  z-index: 2;
  margin: 0;
  padding: 1vh 0;
  height: 6vh;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 3vh;
  text-align: center;
  -webkit-box-shadow: 0px 4px 50px 4px rgba(167, 169, 172, 1);
  -moz-box-shadow: 0px 4px 50px 4px rgba(167, 169, 172, 1);
  box-shadow: rgba(167, 169, 172, 1) 0px 4px 50px 4px;
}

#options{
  position: relative;
}

body .inactive {
  display: none;
}

header img{
  height: 3vh;
  /* margin-bottom: 1vh; */
}

header .space{
  flex: 1 0 0;
}

.topic{
  font-size: 3vh;
  margin-right: 4vw;
  color: white;
  /* margin-top: 0vh; */
}

.in-menu>.topic{
  color: #4D7582;
}

header a{
  max-height: fit-content;
  padding: 0;
  margin:0;
}


.content {
  flex: 1 0 0;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;
}


.content {
  overflow: auto;
}

.content>* {
  position: relative;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}


.greedy-padding {
  flex: 1 0 0;
}



.menu-icon{
  width: 7.5vw;
  height: 3vh;
  margin-right: -2vw;
  background-image: url("images/menu-white.svg");
  background-repeat: no-repeat;
}


.in-menu>.menu-icon{
  background-image: url("images/menu-blue.svg") !important;
}

.choice-button{
  height: 90vw;
  width: 90vw;
  background-image: url("assests/n1whitesquare.svg");
  /* background-color: white; */
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-top: 1vh;
}

.icon{
  /* padding: 5vh 5vw; */
  /* min-height: 22vh; */
  min-height: 55vh;
  -webkit-box-shadow: 0px 4px 50px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 50px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 50px 4px rgba(0, 0, 0, 0.32);
  background-image: url("assests/bg-square.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 8vh;
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 5vh; */
  /* justify-content: flex-end; */
}

.icon img{
  /* margin-top: 6vh; */
  width: 66vw;
  /* align-self: center; */
}

#icon-text{
  font-size: 4vh;
  /* text-align: center; */
  color: white;
  /* position: relative; */
  /* margin-top: 30vh; */
  /* top:40vh; */
  margin-right: 12vw;
  margin-bottom: -8vw;
}

.buttom-home-explain{
  font-size: 2.35vh;
  /* text-align: center; */
  color: #4D7582;
  /* max-width: 75%; */
  /* display: inline-block; */
  /* margin: auto; */
  margin-top: -8vh;
}

.choice-button-text{
  text-align: right;
  margin: auto;
  /* display: flex; */
  /* flex-direction: column; */
  max-width: 40%;
}


.choice-button>* {
  display: flexbox;
  /* display: -webkit-flex; */
  display: -ms-flexbox;
  /* display: flex; */
  font-size: 1.1em;
}


.disable>*{
  pointer-events: none;
}


.card-button{
  /* width: 100vw; */
  display: flex;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  /* position: fixed; */
  /* justify-content: space-evenly; */
  /* padding: 0 10vw; */
}

#text-home-butten{
  font-size: 3vh;
  text-align: center;
  color: #4D7582;
  position: fixed;
  margin-top: 8.5vh;
}
.home-buttons-img{
  height: 15vh;
  /* margin-left: 20vw; */
  /* margin-right: 10vw; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

#BHD-10-icon{
  position: relative;
  height: 32vh;
  width: 37vw;
  /* margin-left: 0; */
  /* left: -27%; */
  /* float: left; */
  margin-right: 51%;
  margin-top: 14%;
}

/* about */
#about {
  background-color: #4d7683;
  color: white;
  text-align: right;
  padding: 3vh 7vw;
  margin-top: 10vh;
}

#card-buttom-home-name{
  /* text-align: center; */
  /* align-items: center; */
  font-size: 1.6em;
  margin-top: -4.5vh;
  font-weight: 600;
  color:#4d7683;
}

#aboutTitle {
  font-weight: bold;
  margin-bottom: 1vh;
  font-size: 3.9vh;
}

.name {
  font-weight: normal;
}

.row {
  margin-bottom: 1.5vh;
  line-height: 1.5em;
  font-size: 2.7vh;
}

/* till and bhd 10 logos in about */

#logos {
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#logos img {
  height: 9vh;
  margin: 2vh 4vw;
}

/*inside options*/
.info .main{
  font-size: 5vw;
  padding: 1vh 8vw;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
}

.info{
  background-image: url("assests/bg.svg");
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}
.up-strip-info{
  box-shadow: 0px 4px 100px 50px rgba(187, 178, 178, 0.97);
}

#icon-arrow{
  height: 5vh;
  width: 8vw;
  margin-right: 12vw;
  margin-top: 6vh;
  margin-bottom: 4.5vh;
}
.space-of-adding-options{
  /* height: 68vh; */
  flex: auto;
  overflow: auto;
}

.option-area{
  background-image: url("assests/whiteBoard.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 25vh;
  margin: auto;
  justify-content: center;
  display: flex;
  margin-bottom: 2vh;
  align-items: center;
  /* line-height: 2.5; */
  /* vertical-align: middle; */
  margin-top: 4vh;
  /* word-warp: break-word; */
}

.link-text{
  float:right;
  margin-top: 3vh;
}


.img-link{
  height: 22vh;
    width: 32vw;
  float: left;
}

.headline-link{
  font-size: 1.2em;
  word-wrap: break-word;
  width: 35vw;
}

.explain-link{
  color: #4d7683;
  margin-top: 1.25vh;
  word-wrap: break-word;
  width: 30vw;
}


.small-menu{
  background-image: url("assests/bgcategorysmall.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 24vh;
  overflow: auto;
  width: 100%;
  /* white-space: nowrap; */
  display: flex;
  /* display: inline-block; */
  /* align-items: center; */
  /* position: relative; */
}

.small-option-buttom{
  min-width: 35%;
  display: inline-block;
  background-size: 100% 100%;
}

.small-option-text{
  margin-top: 14vh;
  font-size: 1.2em;
}

.anatomy{
  background-image: url("assests/1Sanatomy.svg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
  color:#EF5B5B;
}

.anatomy-on{
  background-image: url("assests/1Sanatomyselected.svg");
  color:white;
}

.resucitation{
  margin: 0;
  background-image: url("assests/bhd10logo.svg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
  color:#EF5B5B;
  /* margin-top: 1.2vh; */
}

.resucitation-on{
  background-image: url("assests/bhd10logo.svg");
  color:white;
}

.medication{
  background-image: url("assests/3Smedication.svg");
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
  color:#EF5B5B;
}

.medication-on{
  background-image: url("assests/3Smedicationselected.svg");
  color:white;
}

.anamnesys{
  background-image: url("assests/4Sanamnesys.svg");
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
  color:#EF5B5B;
}

.anamnesys-on{
  background-image: url("assests/4Sanamnesysselected.svg");
  color:white;
}

.shigra{
  background-image: url("assests/5Sshigra.svg");
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
  color:#EF5B5B;
}

.shigra-on{
  background-image: url("assests/5Sshigraselected.svg");
  color:white;
}

.trauma{
  background-image: url("assests/6Strauma.svg");
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: center;
  color:#EF5B5B;
}

.trauma-on{
  background-image: url("assests/6StraumaSelected.svg");
  color:white;
}

/*borger nav*/

#burgerNav {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  z-index: 100;
  display: none;
  overflow: hidden;
}
#burgerNav>div {
  width: fit-content;
  height: inherit;
  background-color: white;
  color: #4d7683;
  transform: translateX(100%);
  transition: 03S transform linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
  padding: 1vh 10vw;
}

#burgerNav .x-icon {
  height: 3.2vh;
  position: absolute;
  right: 2.1vw;
  top: 2.3vh;
}

#burgerNav a {
  text-decoration: none;
  color: inherit;
}

#burgerNav a img {
  width: 8vh;

}

#burgerNav.open {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

#burgerNav.open>div {
  transform: translateX(0);
}

#burgerNav .logos {
  width: 15vh;
}

@media screen and (orientation: landscape) {
  #burgerNav a {
      width: 13vw;
      text-align: right;
  }

  #burgerNav div img+div {
      display: inline;
      padding-right: 1vw;
  }

  #burgerNav .x-icon {
      right: 2vw;
      top: 3vh;
  }

  #burgerNav>div {
      padding: 1vh 5vw;
  }
}


.home-icon{
  width: 7.5vw;
  height: 4vh;
  margin-right: -2vw;
  background-image: url("assests/home.svg");
  background-repeat: no-repeat;
}

#burgerNav div img{
  width: 12vw;
}


/* import fonts from local files  */

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant-ExtraBold.ttf);
  font-weight: bolder;
}

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant-ExtraLight.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant-SemiBold.ttf);
  font-weight: 600;
}


.home-page .menu-icon {
  width: 7.5vw;
  height: 3vh;
  margin-right: 3.5vw;
  background-image: url(images/menu-white.svg);
  background-repeat: no-repeat;
  pointer-events: all;
}